  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Are we digital typesetting yet?{% endif %}</title>
    <meta name="dcterms.subject" content="digital typesetting ecosystem overview" />
    <meta name="dcterms.creator" content="tajpulo" />
    <meta name="dcterms.description" content="{{ summary }}" />
    <meta name="description" content="{{ summary }}" />
    <meta name="dcterms.language" content="en" />

    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Are we digital typesetting yet?{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}assets/open-graph-image.png" />
    <meta property="og:locale" content="en" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all" />

    <link rel="me" href="https://typo.social/@tajpulo"/>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" sizes="any"/>
    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    <link rel="stylesheet" href="assets/style.css"/>
  </head>

